.topics {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.topics div h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.topics div ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.topics div ul li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  .topics {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .topics ul {
    width: 100%;
  }
}
